body {
    font-family: Arial;
    background: linear-gradient(135deg, #2b5876, #4e4376);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background: #4e4376;
    color: white;
    border: none;
    border-radius: 5px;
}
