@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
min-height:100vh;
}

.dashboard{
width:90%;
margin:auto;
padding:30px;
}

.navbar{
color:white;
margin-bottom:30px;
}

.add-section{
display:flex;
gap:10px;
margin-bottom:30px;
}

input{
padding:12px;
border:none;
border-radius:10px;
width:250px;
}

button{
background:#4facfe;
color:white;
border:none;
padding:12px 20px;
border-radius:10px;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.05);
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
}

.card{
background:rgba(255,255,255,0.1);
backdrop-filter:blur(15px);
padding:20px;
border-radius:20px;
color:white;
box-shadow:0 8px 32px rgba(0,0,0,0.37);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

.delete{
background:#ff4b5c;
margin-top:15px;
}
